.SearchForm {
   background-color:#303f9f;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px ;
    
    position: fixed;
    top:0;
    left:0;
    
}

.SearchForm-button-label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}

.SearchFormInput {
   
    border: transparent;
    border-radius: 2px;
    padding: 10px;
    margin-right: 5px;
    width: 300px;
    font-size: 15px;
    
}

.SearchForm-input::placeholder {
    font: inherit;
    font-size: 18px;
}

